.corpo{
    display: flex;
    align-items: center;    
    justify-content:center;   
    font-size: 2.5rem;
    margin-left: 8rem;
    flex-direction: column;
    margin-right: 8rem;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(27, 75, 231),rgb(133, 122, 231),
    rgb(104, 102, 235));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;

}

body h1{
    transition: 1s;
    color: aliceblue;
    border-bottom: 1.25rem solid #e46efcb4;
    border-radius: 100%;
    
    
}


body p{

    color:  rgba(255, 255, 255, 0.774);
    box-shadow: 1.5px 3px 10px rgba(255, 255, 255, 0.329);
    padding: 20px;
    border-radius: 100px;  
    border-bottom: 4px solid #e46efcb4;
}

body input{
    display: flex;
    align-self: center;
    margin-top: 10px;
    
    height: 30px;
    width: 387px;
    
}

body input[type=text]{
    border-radius: 20px;    
    padding-left: 10px;
    border-color: #e46efcb4;
   
    
}

body input[type=number]{
    border-radius: 20px;    
    padding-left: 10px;
    border-color: #e46efcb4;
    
    
}


.botao{
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #eb71d600;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: -10px;   
    color: #eee;
    transition: 0.7s;
    
}

.botao:hover{
    cursor: pointer;
    background-color: #e46efcb4;


}






